.git

# Logs
**/log/*.log

# Temp files
**/tmp/*

# SQLite databases
**/db/*.sqlite

# NPM stuff
**/node_modules

# OS stuff
**/.DS_Store

# Test coverage
/api/coverage

# Built Node stuff
/build

# Parcel stuff
**/dist
**/.cache

.vscode
