# Ignore app settings (copy to .example.env.* to check in example files)
/.env*

# RSpec
/spec/examples.txt

# Logs
/log/*.log

# Temp files
tmp/*

# SQLite databases
db/*.sqlite

# NPM stuff
node_modules

# Webpack stuff
bundle.js
