.placed-cards {
  display: flex;
}

.placed-card {
  flex: 1;
  position: relative;
}

.placed-card:after {
  content: "";
  float:left;
  display: block;
  padding-top: 100%;
}

.placed-card-content {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 0.5rem);
  border-radius: 0.25rem;
  background-color: var(--light-color-strong);
}

.placed-card-content > * {
  animation-duration: 0.4s;
  animation-name: placed-card-pop;
  animation-timing-function: ease-in-out;
}

@keyframes placed-card-pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: none;
  }
}
