.player-view {
  display: flex;
  align-items: center;
  min-height: 6rem;
}

.player-view-details {
  margin-right: auto;
}

.player-view > svg {
  margin-right: 0.5rem;
  color: var(--player-color-dark);
}

.player-view h3 {
  margin: 0;
}

.player-view p {
  margin: 0;
}

.player-view .player-hp {
  color: var(--player-color-dark);
}

.player-view-disconnected {
  display: flex;
  align-items: center;
  color: var(--danger-color);
  font-weight: bold;
  text-transform: uppercase;
}

.player-view-disconnected svg {
  margin-right: 0.25rem;
}
