.move-result {
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.6;
  transform: scale(0.2);
}

.attack-result {
  background-color: var(--orange);
  border-radius: 100%;
  opacity: 1;
  transform: scale(0.8);
  clip-path: polygon(
    51% 7%,
    62% 34%,
    93% 31%,
    74% 54%,
    89% 80%,
    64% 71%,
    51% 96%,
    39% 70%,
    9% 77%,
    29% 52%,
    11% 28%,
    40% 34%
  );
}
