.game-host-sidebar {
  flex: 1;
  margin-right: 0.5rem;
}

.game-host-actions {
  margin: 1rem 0.5rem;
  display: flex;
}

.game-host-status {
  flex: 1;
  text-align: right;
  color: var(--dark-color);
}

.game-host-actions > * {
  color: var(--dark-color);
}

.game-host-actions > *:hover {
  color: var(--dark-color-strong);
}

.game-host-sidebar .player-view {
  margin-top: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--player-color-dark);
  border-radius: 0.5rem;
}

.game-host-sidebar .player-view.is-disconnected {
  border-color: var(--light-color);
}
